build/manager/VERSION
build/certbot/VERSION
build/console/VERSION
build/core/VERSION
build/database/VERSION
build/database_console/VERSION
build/datashare_console/VERSION
build/datastore/VERSION
build/datastore_console/VERSION
build/pms-apt/VERSION
build/pms-pacman/VERSION
build/pms-winget/VERSION
build/pms-yum/VERSION
build/pms-wpt/VERSION
build/pms-apk/VERSION
build/proxy/VERSION
build/public/VERSION
build/s3/VERSION
build/swarm/VERSION
build/worker_console/VERSION
build/mcp-server/VERSION
build/assistant/VERSION
images/migasfree-*.tar
images/*.log
build/manager/defaults/usr/bin/send_message
build/certbot/defaults/usr/bin/send_message
build/assistant/defaults/usr/bin/send_message
build/console/defaults/usr/bin/send_message
build/core/defaults/usr/bin/send_message
build/database/defaults/usr/bin/send_message
build/database_console/defaults/usr/bin/send_message
build/datashare_console/defaults/usr/bin/send_message
build/datastore/defaults/usr/bin/send_message
build/datastore_console/defaults/usr/bin/send_message
build/mcp-server/defaults/usr/bin/send_message
build/pms-apt/defaults/usr/bin/send_message
build/pms-pacman/defaults/usr/bin/send_message
build/pms-wpt/defaults/usr/bin/send_message
build/pms-yum/defaults/usr/bin/send_message
build/proxy/defaults/usr/bin/send_message
build/public/defaults/usr/bin/send_message
build/swarm/defaults/usr/bin/send_message
build/worker_console/defaults/usr/bin/send_message
build/pms-apk/defaults/usr/bin/send_message

